#output , #output2{
    height: 250px;
    width: 50%;
    overflow: scroll;
}

#addTask, #addStudentMarks{
    width: 100%;
    border-radius: 5px;
}
button{
    border-radius: 5px;
    border: none;
    background-color: greenyellow;
    font-weight: bold;
    color: green;
    
}
button:hover{
box-shadow: 2px 2px 5px lawngreen;
}
h1{
    background-color: black;
    color: white;

}
main{
    min-height: calc(100vh-46px);
}